

  font-family: "Lato", sans-serif;

*{
    margin: 0;
    padding:0;
}
section{
    margin-bottom: 10px;
}
.top-section{
    width: 100%;
    height: 500px;
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
}
span{
    color: red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: auto;
    align-items: center;
    text-align: justify;

}
img{
    width: 100%;

}
.half-width img{
    width: 200px;

}
a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.second-section{
    width:100%;
    height: 500px;
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
}
.latest-div{
    display: flexbox;
    justify-content: space-between;
    margin-left: 2%;
    align-items: center;
}
.third-section{
    width: 100%;
    height: 500px;
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    justify-content: center;
}
.latest img{
    width: 30%;
    float: left;
    column-gap: 10%;
}
.latest-heading{
    text-align: center;
    align-items: center;
}

.client{
    font-size: 35px;
    text-align: center;
}
.down-section{
    text-align: center;
}
.email-section{
    text-align: center;
    background-color: tomato;
    padding: 20px;
    border-radius: 10px;
}
footer{
    text-align: center;
}