  font-family: ["Roboto"], sans-serif;

*{
    margin: 0;
    padding:0;
}
.top-section{
    width: 100%;
    height: 500px;
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
span{
    color: red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
  